@import 'tailwindcss';

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  body {
    @apply bg-white text-gray-900;
  }

  body.dark {
    @apply bg-gray-900 text-gray-100;
  }
}
